@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/static/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/static/Montserrat-SemiBold.ttf);
    font-weight: 600;
}